.galeria__container {
    padding: 64px 10%;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.categoria__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info__galeria {
    display: flex;
    justify-content: space-between;
}

.galeria__titulo {
    font-size: 32px;
    font-weight: 700;
    color:#464646;
}

.galeria__todos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
}

.productos {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
}

.producto {
    display: flex;
    flex-direction: column;
    width: 15.4%;
    gap: 8px;
}

.producto__titulo {
    font-size: 14px;
    font-weight: 500;
    color:#464646;
}

.producto__precio {
    margin: 0;
    color:#464646;
    font-weight: 700;
}

.info__producto {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
}

@media screen and (max-width: 1024px) {
    .producto {
        width: 18.5%;
    }

    .categoria__container {
        overflow: hidden;
    }
}

@media screen and (max-width: 768px) {
    .galeria__container {
        padding: 64px 4%;
    }

    .galeria__titulo {
        font-size: 22px;
    }

    .categoria__container {
        overflow: hidden;
    }

    .producto {
        width: 23.9%;
    }
}

@media screen and (max-width: 425px) {
    .productos {
        flex-wrap: wrap;
    }

    .producto {
        width: 47.8%;
    }
}

@media screen and (max-width: 393px) {
    .productos {
        flex-wrap: wrap;
    }

    .producto {
        width: 47.7%;
    }
}